* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.text {
    &-white {
        color: white;
    }

    &-center {
        text-align: center;
    }
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.button {
    .navbar &_header {
        border-color: white;
    }
}

.self-center {
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-color: blue;
    max-width: 1920px;
    position: relative;
}

.content {
    &_hero {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.tab {}

.title {
    text-align: center;
}