* {
    box-sizing: border-box;
}

.dust {
    position: absolute;
}

img {
    max-width: 250px;
    max-height: 250px;
}

.flex {
    &-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    &_direction_down {
        flex-direction: column;
        align-items: center;
    }
}

.size {

    &-300px {
        width: 300px;
    }

    &-300px-remain {
        width: calc(99% - 300px);
    }

}


.test {
    background-color: green;

    &2 {
        background-color: blue;
    }

    &3 {
        background-color: red;
    }
}

.wrapper {
    padding: 10px;

    &__img {
        width: 250px;
        height: 300px;
    }
}

@mixin text-center-big {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.title {
    @include text-center-big;
}

.cover {
    @include text-center-big;
    font-size: 200px;
    position: absolute;
    color: white;
    width: 250px;
    height: 300px;
    background: rgb(207, 249, 5);
    background: linear-gradient(153deg, rgba(207, 249, 5, 1) 0%, rgba(0, 96, 255, 1) 26%, rgba(255, 0, 0, 1) 100%);
}

.aside {
    @include text-center-big;
    font-size: 15px;
    margin: 10px;
    width: 200px;
    height: 30px;
    display: block;

    &__img {
        height: auto;
        width: 300px;
    }
}

.fade {
    transition: 2s;
    opacity: 1;

    &-in {
        opacity: 1;
    }

    &-out {
        opacity: 0;
    }
}