* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.col-4 {
    width: 25%;
    float: left;
    border: solid 1px black;
    position: relative;
}

.height-100 {
    height: 100px;
}

.col-4 button {
    display: block;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #4183b2;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0;
    transition: border-radius 1s linear, background-color 1s linear;
}

.col-4 button:hover {
    background-color: rgb(34,162,132);
    border-radius: 50px;
    transition: border-radius 1s linear, background-color 0.5s linear 0.5s;
}

.col-3 {
    width: 33.33%;
    position: relative;
    float: left;
    padding: 1%;
}

.square::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}


img {
    display: block;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 90%;
}

.wrapper-img:hover {
    transform: scale(1.5);
    z-index: 2;
    transition: transform 0.5s linear;
}

.wrapper-img {
    width: 94%;
    height: 94%;
    position: absolute;
    transition: transform 1s linear;
    border: 2px solid grey;
}

.heart-shape {
    all:unset;
    width: 100%;
}

.wrapper-img-heart {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
}

.block{
    width: 10px;
    height: 10px;
    /*background-color: green;*/
    box-shadow: 10px 0 red, 20px 0 red, 40px 0 red, 50px 0 red,
                0 10px red, 30px 10px red, 60px 10px red,
                0 20px red, 60px 20px red,
                10px 30px red, 50px 30px red,
                20px 40px red, 40px 40px red,
                30px 50px red;
  /*transform: scale(10);*/
}

@keyframes beating {
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.3);
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.beating {
    animation: beating 1.6s linear infinite;
}

.text-center {
    text-align: center;
}

p {
    font-size: 3rem;
    margin: 0;
}

@keyframes word-1 {
    0% {
        top: -500px;
    }
    15% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}

@keyframes word-2 {
    0% {
        top: 500px;
    }
    30% {
        top: 500px;
    }
    45% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}

@keyframes word-3 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


.wrapper-text {
    overflow: hidden;
    position: relative;
}

.word-1 {
    color: white;
    background-color: orange;
    position: relative;
    top: -500px;
    animation: word-1 4s linear infinite;
}

.word-2 {
    color: white;
    background-color: blue;
    position: absolute;
    z-index: 1;
    top: 500px;
    animation: word-2 4s linear infinite;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.word-3 {
    color: white;
    background-color: green;
    position: absolute;
    z-index: 2;
    opacity: 0;
    animation: word-3 4s linear infinite;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper-all-row::after {
    content: '';
    display: block;
    clear: both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    background-color: yellow;
    color: white;
    animation: fade-in 3s linear infinite;

}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    background-color: grey;
    color: white;
    animation: fade-out 3s linear infinite;
    position: absolute;
    width: 100%;
}

.col-4-3 {
    width: 75%;
    float: left;
    border: solid 1px black;
    position: relative;
    overflow: hidden;
}

@keyframes slide {
    0% {
        opacity: 0;
        left: 50%;
    }
    25% {
        opacity: 1;
        left:0;
    }
    50% {
        opacity: 1;
        left:0;
    }
    100% {
        opacity: 0;
        left: -50%;
    }
}

.slide {
    position: relative;;
    animation: slide 5s linear infinite;
    float: right;
}

.loading-wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.loading-round {
    width: 100%;
    border: 10px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.loading-round-inside {
    width: 90%;
    border: 3px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}


/*@keyframes loading-cover {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}*/

@keyframes loading-cover {
    0% {
        transform: rotate(-135deg);
    }
    100% {
        transform: rotate(225deg);
    }
}

.loading-cover {
    width: 100%;
    position: absolute;
    animation: loading-cover 3s ease-in-out infinite;
    overflow: hidden;
    transform-origin: top left;
    top: 50%;
    left: 50%;
}

.loading-round-2 {
    width: 100%;
    border: 10px solid blue;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.loading-round-inside-2 {
    width: 90%;
    border: 3px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}