* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

$light-blue: #baa5fe;
$font-size: 1rem;
$total-width: $font-size * 30;

html {
    font-size: 14px;
}

body {
    margin: 0;
}

@mixin flex-container {
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-item {
    margin: auto;
}

.page__wrapper {
    @include flex-container;
    background-color: $light-blue;
    height: 100vh;
}

.content__wrapper {
    @include flex-item;
    @include flex-container;
    width: $total-width;
}

.quizz-in-progress__wrapper,
.finished__wrapper,
.trophy__wrapper {
    @include flex-item;
    @include flex-container;
    border: 1px solid blue;
    width: 100%;

}

.question__wrapper,
.result__wrapper,
.trophy-result__wrapper {
    padding: $font-size * 2;
    margin: $font-size * 2;
    text-align: center;
    width: $total-width;
    height: $total-width /5;
    background-color: red;
}

@mixin button-style {
    background-color: white;
    width: $total-width;
    text-align: center;
    padding: $font-size;
    margin: $font-size;
    height: $total-width /10;
}

.answer__wrapper {
    @include button-style;
    background-color: white;

    &_display_none {
        display: none;
    }
}

.result__button,
.reviewing__button,
.trophy__button {
    @include button-style;
    width: $total-width /2.5;
}

.reviewing__button {
    &_wrong {
        background-color: red;
    }

    &_right {
        background-color: green;
    }
}