@import url('../../lib/top-nav.css');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

/*place holder seclector*/
%flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

%text {
    &-black {
        color: black;
    }

    &-blue {
        color: #007FFF;
    }

    &-grey {
        color: #979797;
    }

    &-light-grey {
        color: #CFCFCF;
    }

    &-white {
        color: white;
    }
}

%container {
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1100px;
    }
}

/*define variable*/
$rem: 16px;
$light-grey: #CFCFCF;

/*mixin class*/
@mixin set-font($size:16px, $height: 30px, $weight: 600, $style: normal) {
    font-size: $size/$rem*1rem;
    line-height: $height/$rem*1rem;
    font-weight: $weight;
    font-style: $style;
}

/* Extend default to change lib setting */
.topnav {
    background-color: white;

    .float-right {
        @media (min-width: 576px) {
            float: right;
        }
    }
}

.topnav a.icon {
    color: blue;
    margin-left: -16px;
    width: 45px;
    float: none;

}

.topnav.responsive a.icon {
    left: 0;
    position: relative;
    display: block;
}

/*general class*/
.size-52x52 {
    width: 52px;
    height: 52px;
}

.img-fuild {
    max-width: 100%;
}

.text-blue {
    @extend %text-blue;
}

.item {
    position: relative;
    padding-top: 30px;
}



/*specific section class*/
.header {
    position: relative;
    top: 60px;
    margin-bottom: 60px;
    @extend %container;

    img {

        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    a {
        @extend .text-blue;
        @include set-font(12px, 16px, 800);
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.main {
    @extend %container;

    section {
        position: relative;
    }
}

h1 {
    text-align: center;
    padding-top: 60px;
    @include set-font(28px, 36px, bold);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        max-width: 550px;
        @include set-font(48px, 60px, bold);
    }

}

.social {
    width: 114px;
    margin-left: auto;
    margin-right: auto;
    @extend %flex;
    justify-content: space-between;
}

.work {
    padding-top: 60px;
    @extend %flex;

    @media (min-width: 576px) {
        display: block;
        column-count: 2;
    }

    .item {
        &:nth-child(odd) {
            order: 2;
        }
    }


    &__content {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    &__tag {
        width: 80px;
        height: 23px;
        padding-top: 3px;
        background: yellow;
        border-radius: 40px;
        @include set-font(12px, 16px, 800);
        text-align: center;
    }

    h5 {

        max-width: 221px;
        margin: 0;
        padding-top: 10px;

        a {
            @include set-font(18px, 26px, bold);
            @extend %text-white;
            text-decoration: none;
        }
    }


}

h2 {
    @include set-font(12px, 16px, 800);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    @extend %text-grey;

    @media (min-width: 576px) {
        position: absolute;
        left: -7%;
        top: 120px;
        transform: rotate(-90deg);
        /*writing-mode: vertical-lr;*/
        /*text-orientation: sideways;*/
    }

    @media (min-width: 768px) {
        left: -5%;
    }

}

.about {
    padding-top: 60px;

    h4 {
        @include set-font(18px, 26px, bold);

    }

    p {
        @include set-font(16px, 30px);
        max-height: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    footer {
        @extend %flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        @media (min-width: 576px) {
            justify-content: flex-start;
        }

        img {

            height: 26px;


        }

        div {
            @media (min-width: 576px) {
                flex: 0 0 25%;
            }
        }
    }
}

.link {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 576px) {
        columns: 2;
        column-gap: 10%;
    }

    &__display {
        @extend .text-blue;
        @include set-font(16px, 30px);
    }

    &__year {
        @extend %text-grey;
        @include set-font(16px, 30px);

        @media (min-width: 576px) {
            float: right;
        }
    }
}

.contact {

    padding-top: 90px;

    @media (min-width: 576px) {
        display: flex;
    }

    h2 {
        text-align: left;
        @extend %text-black;
        @include set-font(18px, 26px, bold);
        text-transform: none;
        top: 30px;
        left: 0;
        transform: rotate(0deg);
    }

    &__quote {
        @include set-font(16px, 30px);
        padding-top: 60px;

        @media (min-width: 576px) {
            flex: 1 1 0;
            max-width: 230px;
            padding-right: 20px;
        }

    }

    .social_contact {
        @extend .social;
        margin-left: 0px;
        padding-top: 20px;
    }

    &__form {
        padding-top: 60px;
        position: relative;

        @media (min-width: 576px) {
            flex: 1 1 50%;
        }
    }

    &__row {
        padding-top: 20px;

        label {
            @include set-font(12px, 16px, 800);
            letter-spacing: 3px;
            text-transform: uppercase;
            display: block;
        }

        input {
            @include set-font(16px, 30px);
            @extend %text-light-grey;
            padding-top: 15px;
            padding-bottom: 10px;
            display: block;
            border: none;
            border-bottom: 1px solid $light-grey;
            width: 100%;
        }
    }

    button {
        padding: 0;
        border: none;
        background-color: white;
        position: relative;
        margin-top: 30px;
        left: calc(100% - 52px);

        @media (min-width: 576px) {
            position: static;
            padding-left: 30px;
            -ms-align-self: flex-start;
            align-self: flex-start;
            margin-top: 90px;
        }
    }
}

#message {
    height: 150px;
}

.footer {
    padding-top: 60px;
    @extend %container;
    @extend %flex;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    @include set-font(12px, 30px);
    @extend %text-grey;

    @media (min-width: 576px) {
        flex-direction: row;
        justify-content: space-between;
    }

    div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .copyright {
        @extend %text-black;
    }
}