* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: Roboto-Regular, sans-serif;
}

body {
    color: hsl(0,0%,46%);
}

.wrapper-all {
    background-color: blue;
    width: 100%;
}

.wrapper-menu {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

ul {
    list-style-type: none;
}

.menu-1 {
    width: 200px;
    background-color: white;
    padding: 0px 0px 12px 0px;
    border: 1px solid #c4c4c4;
}

.menu-1>li {
    padding: 4px 8px;
}

a {
    text-decoration: none;
    color: inherit;
    max-width: 170px;

    /**/
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

.menu-1>li:hover {
    background-color: hsl(204, 15%, 94%);
}

.menu-1>li:hover>a {
    color: #1b6492;
}

.menu-2, .menu-3 {
    display: none;
}

.menu-sub-menu-wrapper:hover>.menu-2 {
    display: block;
    position: absolute;
    left: 200px;
    top: 0px;
    bottom: 0px;
}

.menu-sub-menu-wrapper:hover>.menu-3 {
    display: block;
    position: absolute;
    left: 199px;
    top: -1px;
    bottom: -1px;
}

.menu-sub-menu-wrapper::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 2px solid hsl(0,0%,46%);
    border-right: 2px solid hsl(0,0%,46%);
    transform: rotate(45deg) translate(0,5px);
    float: right;
    display: none;
}

.menu-sub-menu-wrapper:hover::after {
    display: block;
}

/**/
/*.menu-sub-menu-wrapper>.menu-2 {
    display: block;
    position: absolute;
    left: 200px;
    top: 0px;
    bottom: 0px;
}

.menu-sub-menu-wrapper>.menu-3 {
    display: block;
    position: absolute;
    left: 199px;
    top: -1px;
    bottom: -1px;
}*/
/**/