@font-face {
    font-family: Iconsolata;
    src: url('../font/iconsolata-regular.woff2') format('woff2'),
        url('../font/iconsolata-regular.woff') format('woff'),
        url('../font/Iconsolata-Regular.ttf') format('truetype');
}


@font-face {
    font-family: Iconsolata;
    src: url('../font/iconsolata-bold.woff2') format('woff2'),
        url('../font/iconsolata-bold.woff') format('woff'),
        url('../font/Iconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Playfair Display";
    src: url('../font/playfairdisplay-regular.woff2') format('woff2'),
        url('../font/playfairdisplay-regular.woff') format('woff'),
        url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    src: url('../font/ubuntu-light.woff2') format('woff2'),
        url('../font/ubuntu-light.woff') format('woff'),
        url('../font/Ubuntu-Light.ttf') format('truetype');
    font-weight: lighter;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

$white-shade-1: #f0f0f0;
$text-grey: #cccccc;
$text-grey-darker: #626262;
$text-grey-darker-2: #333333;

.header {
    /*height: 165px;*/

    &__nav {
        padding-right: 0;
        padding-top: 6.9%;
        padding-bottom: 0;
    }
}

.main {
    padding-top: 7.4%;
}

.container {
    @media (min-width: 992px) {
        max-width: 1062px;
    }
}

.card {
    border: none;

    &-2 {
        padding-top: 31%;
    }
}

.row-2 {
    padding-left: 7.5%;
    padding-right: 7.5%;

}



.footer {
    background-color: $white-shade-1;
    font-weight: bold;
}

.navbar-brand-2 {
    font-family: Inconsolata, "Times New Roman";
    font-size: 1rem*30/14;
    letter-spacing: 0.7rem;
}

.nav-link-2 {
    font-family: "Playfair Display", "Times New Roman";
    font-size: 1rem;
}

.nav-item-2 {
    padding-left: 6%;
    padding-right: 6%;

    &:last-child {
        padding-right: 0;
    }
}

.card-header-2 {
    font-family: Ubuntu, "Times New Roman";
    font-weight: lighter;
    color: $text-grey;
}

.card-title-2 {
    font-size: 1rem*30/14;
    color: $text-grey-darker;
    font-family: "Playfair Display", "Times New Roman";
    font-weight: normal;
}

.card-text-2 {
    font-size: 1rem;
    color: $text-grey-darker;
    font-family: "Playfair Display", "Times New Roman";
    font-weight: normal;
}

.newsletter {
    background-color: $white-shade-1;
    margin-top: 7.8%;

    &__row {
        padding-top: 4.6%;
        padding-bottom: 4.6%;
    }

    &__header {
        color: $text-grey-darker-2;
        font-family: "Playfair Display", "Times New Roman";
        font-weight: normal;
        font-size: 1rem*30/14;
        margin: 0;

    }

    &__input {
        color: $text-grey-darker;
        font-family: "Playfair Display", "Times New Roman";
        font-weight: normal;
        font-size: 1rem;
        border: none;
        background-color: transparent;


        &-wrapper {
            background-color: transparent;
            border-bottom: 2px solid black;
            border-radius: 0;
            margin: 0;
            padding: 0;
            padding-top: 20%;

        }
    }

    &__prepend {
        border: none;
        background-color: transparent;
    }

}

.load-more {
    padding-top: 16.2%;
    padding-bottom: 133%;

    &__btn {
        background-color: white;
        color: $text-grey-darker;
        border: 1px solid $text-grey-darker;
        border-radius: 0;
        font-family: "Playfair Display", "Times New Roman";
        font-weight: normal;
        font-size: 1rem*20/14;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@mixin basic-font {
    font-family: "Playfair Display", "Times New Roman";
    font-weight: normal;
    font-size: 1rem;
    color: $text-grey-darker;
}

.footer {
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    &__link {
        @include basic-font;
        color: black;
    }
}


.first-post {

    &__header {
        padding-top: 11.1%;

        &-2 {
            padding-top: 6%;
        }
    }

    &__title {
        padding-top: 3.5%;
    }

    &__text {
        padding-top: 4.5%;
    }

    padding-bottom: 13%;
}

h5,
h6 {
    margin: 0;
}

.card-body-2 {
    padding: 0;
}

.latter-post {
    &__header {
        padding-top: 7.5%;
    }

    &__title {
        padding-top: 7.5%;
    }

    &__text {
        padding-top: 9%;
    }
}

.icon {
    color: $text-grey-darker;
}