@import 'style.scss';

.breadcrumb {
    @extend %responsive-max-width;
    padding-left: $padding-xs;
    padding-right: $padding-xs;
    margin-top: $padding-lg;

    li {
        display: inline-block;


    }

    li:not(:last-child):after {
        content: "/";
        display: inline-block;
        padding-left: $padding-xs;
        padding-right: $padding-xs;
    }

    .active {
        color: $text-color;
    }
}

.contact {
    @extend %responsive-max-width;

    &__content {
        padding-bottom: $padding-md;
    }

    .row h2 {
        margin-bottom: $padding-sm;
    }
}

h2 {
    text-align: left;
    margin-top: $padding-lg;
}


.map-marker {
    margin-top: $padding-lg;
    padding-left: $padding-xs;
    padding-right: $padding-xs;

    iframe {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 576px) {
        height: 500px;
    }
}