@import 'style.scss';

.breadcrumb {
    @extend %responsive-max-width;
    padding-left: $padding-xs;
    padding-right: $padding-xs;
    margin-top: $padding-lg;

    li {
        display: inline-block;


    }

    li:not(:last-child):after {
        content: "/";
        display: inline-block;
        padding-left: $padding-xs;
        padding-right: $padding-xs;
    }

    .active {
        color: $text-color;
    }
}

.contact {
    @include container;

    &__note {
        padding-left: $padding-md;
    }

    &__info {
        margin-bottom: $padding-md;
        border-bottom: 1px solid $page-color-darker;
    }


}


.map-marker {
    padding-left: $padding-xs;
    padding-right: $padding-xs;

    iframe {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 576px) {
        height: 500px;
    }
}

.row {
    &_align_start {
        @extend .row;
        -ms-align-items: start;
        align-items: start;
    }
}

.col {
    &_4 {
        @extend .col;
        flex: 1 1 33.33%;
    }

    &_8 {
        @extend .col;
        flex: 1 1 66.65%;
    }
}

.title {
    &_left {
        @extend .title;
        text-align: left;

        &-top {
            @extend .title_left;
            padding-top: 0;
        }
    }
}