@import 'find-tour.scss';

.book-tour {
    @include container;

    &__client-info {
        padding-left: $padding-lg;
    }

    &__content {
        @extend .row_align_start;
        padding-top: $padding-lg;
    }
}

.tour-info {
    text-align: center;
    padding-bottom: $padding-lg;
    width: 80%;
    background-color: $page-color-darker;

    h2 {
        padding-top: $padding-md;
        padding-bottom: $padding-md;
        color: $text-color;
    }

    p {

        font-size: $text-size-lg;
    }
}