@import 'find-places.scss';

.filter-hotel__result {
    @extend .row;
    padding-top: 0;
}

.card-hotel {
    @extend .card;
    padding-top: 0;
    margin-top: 0;

    &__category {
        @extend .card__country;
    }

    &__name {
        @extend .card__header;
    }

    &__address {
        color: $text-color-darker;
        padding-top: $padding-sm;
    }
}