@import url('../../lib/top-nav.css');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: white;
}

body {
    margin: 0;
}

/*Cac mau sac chinh*/
$page-color: #6E542C;
$page-color-darker: #4A381D;
$page-color-lighter: #92703B;
$page-color-darker_trans: rgba(74, 56, 29, 0.9);
$text-color: #F3CB03;
$text-color-darker: #B09302;
$text-color-lighter: #B58A4D;
$text-no-color: white;
$text-size-sm: 13px;
$text-size-md: 18px;
$text-size-lg: 35px;
$text-size-banner-sm: $text-size-sm+10;
$text-size-banner-md: $text-size-md+15;
$text-size-banner-lg: $text-size-lg+20;
$icon-color: $text-color-lighter;
$icon-size: 33px;
$search-height: 44px;
$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 70px;
$btn-width: 100px;
$btn-padding: $padding-sm;
$btn-color: $text-color-lighter;


body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 200px) no-repeat,
        $page-color;
}

button:hover {
    cursor: pointer;
}

%responsive-max-width {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

%d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

%d-flex_responsive {
    @extend %d-flex;

    @media (max-width: 576px) {
        flex-flow: column;
    }
}

%d-flex_center {
    @extend %d-flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

%sm-screen-padding {
    @media (max-width: 576px) {
        padding: $padding-xs;
    }
}

.logo {
    width: 290px;
}

.icon {

    max-width: $icon-size;
    max-height: $icon-size;

    &_filter {
        @extend .icon;
        filter: invert(52%) sepia(88%) saturate(249%) hue-rotate(356deg) brightness(91%) contrast(93%);
    }
}

.header {
    @extend %responsive-max-width;
    @extend %sm-screen-padding;
    padding-top: $padding-xs;

    img {
        max-width: 50%;
    }


    i {
        color: $text-no-color;

    }

    .topnav {
        background-color: transparent;
        position: relative;
        margin-top: -35px;
        width: 100%;



        &__search {
            min-width: 300px;
            width: 99%;
            height: $search-height;
            display: none;
        }

        &.responsive {
            background-color: $page-color-darker_trans;
        }

        &.responsive .topnav__search {
            display: block;
            margin: 0 auto;
        }

        &__sign-in {
            width: $search-height;
            height: $search-height;
            border-radius: $search-height/2;
            background-color: $page-color-lighter;
            padding: 0;
            @extend %d-flex_center;
            border: none;
        }

        .a {
            padding: 0;
            padding-left: 16px;
        }

        @media (min-width: 576px) {
            margin-top: 0;

            a {
                padding: 0
            }

            &__search {
                display: block;
                min-width: 0;
                width: $search-height;
                position: relative;
                background-color: transparent;

                &:hover {
                    input {
                        width: 300px;
                        background-color: $page-color-lighter;
                    }
                }
            }

            input {
                position: absolute;
                right: 0;
                width: 0;
                transition: 0.5s linear;
            }
        }
    }

}

.search {
    position: relative;
    background-color: transparent;

    &__input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        padding-left: $padding-xs;
        padding-right: $search-height;
        overflow: hidden;
        color: $text-color;
    }

    &__button {
        position: absolute;
        right: 1px;
        top: 1px;
        height: $search-height - 2px;
        width: $search-height - 2px;
        background-color: transparent;
        border: none;

    }
}

i {
    color: $icon-color;
}

.banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        width: 100%;
    }

    &__content {
        position: absolute;
        top: 0;
        height: 100%;
        padding: $padding-xs;
        @extend %d-flex;
        flex-flow: column;
        -ms-align-items: center;
        justify-content: center;
    }

    h4 {
        display: none;
    }

    @media (min-width: 576px) {
        h4 {
            display: block;
        }
    }

    &__nav {
        @extend %responsive-max-width;
        position: absolute;
        bottom: $padding-xs;
        @extend %d-flex;
        justify-content: space-between;
        -ms-align-items: flex-end;
        align-items: flex-end;
        width: 100%;

        & a {
            display: block;
            text-align: center;
            /*min-width: 95px;*/
        }

    }

    &__wrapper {
        @extend %responsive-max-width;
        position: static;
    }

}

.foreign {
    margin-top: 50%;
    @extend %responsive-max-width;
    border-bottom: 1px solid $page-color-darker;
    padding-bottom: $padding-lg;
}

.viet-nam {
    @extend %responsive-max-width;
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
}

h2 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.row {
    @extend %d-flex_responsive;
    @extend %d-flex_center;
    justify-content: space-between;
}

.card {
    width: 260px;
    height: 340px;
    margin-bottom: $padding-md;
    position: relative;

    img {
        max-width: 100%;
    }

    &__img {
        height: 170px;
        overflow: hidden;
        background-image: url("../img/india-1.jpg");
        background-position: center;
        position: relative;
    }



    .sale {
        position: absolute;
        bottom: 0;
        background-color: red;
        padding: $padding-xs;
    }

    h3,
    h4,
    h5 {
        font-size: 1rem;
        margin: 2px 0px;
    }

    h3 {
        margin-top: 10px;
    }

    .price {
        margin-top: $padding-sm;
        margin-bottom: $padding-sm;
    }
}

.btn {
    margin: 0 auto;
    width: $btn-width;
    text-align: center;
    background-color: $btn-color;
    padding: $btn-padding;
    border: none;
}

.footer {
    padding-bottom: $padding-xs;
    padding-top: $padding-xs;
    background-color: $page-color-darker;

    .row {
        @extend %responsive-max-width;
    }

    &__logo {
        text-align: center;

    }

    &__link {
        padding-left: 10%;

        @media (min-width: 576px) {
            padding-left: 0;
        }
    }

    &__fb {
        min-width: 310px;
    }

    &__social-list {
        @extend %d-flex;
        justify-content: space-between;
        font-size: $icon-size;
    }

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-top: $padding-xs;
    }

}

.sign-up {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $page-color-darker_trans;
    z-index: 1;
    padding: $padding-xs;
    width: 50%;
    min-width: 300px;
    max-width: 600px;

    input {
        width: 100%;
        padding: $padding-xs;
        height: $search-height;
        display: block;
    }

    &__fail {
        height: $search-height/2;
        width: 100%;
    }

    #sign-up {
        height: $search-height*13;
        position: relative;

        @media (min-width: 576px) {
            height: $search-height * 11;
        }
    }

    #sign-in {
        height: $search-height*13;
        position: relative;

        @media (min-width: 576px) {
            height: $search-height * 11;
        }
    }

    &__btn {
        @extend %d-flex_center;
        bottom: $padding-xs;
    }

    &__welcome {
        font-size: 2rem;
        position: relative;
        top: 15%;
    }

    .row {
        -ms-align-items: stretch;
        align-items: stretch;
    }

    .col {
        @media (min-width: 576px) {
            width: 49%;
        }
    }

    &__input {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__cancel {
        height: $search-height;
        width: $search-height;
        @extend .btn;
        background-color: transparent;
        font-size: $icon-size/1.2;
        position: relative;
        left: calc(100% - 44px);
    }

    i {
        color: white;
    }
}