@import url('/thang-long-tour/comp/top-nav.css');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*Cac mau sac chinh*/
$page-color: #6E542C;
$page-color-darker: #4a381d;
$page-color-lighter: #92703b;
$page-color-darker_trans: rgba(91, 70, 36, 0.9);
$text-color: #09ff30;
$text-color-darker: #00d522;
$text-color-lighter: #3cff5b;
$text-no-color: white;
/*font size*/
$text-size-xs: 8px;
$text-size-sm: 13px;
$text-size-md: 18px;
$text-size-lg: 35px;
$text-size-banner-sm: $text-size-sm+10;
$text-size-banner-md: $text-size-md+15;
$text-size-banner-lg: $text-size-lg+20;
$icon-color: $text-color-lighter;
$icon-size: 33px;
/*tag size*/
$search-height: 44px;
$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 70px;
$btn-sm: 100px;
$btn-md: 200px;
$btn-padding: $padding-sm;
$btn-bg-color: $text-color-darker;

html {
    font-size: 16px;
    color: white;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 200px) no-repeat,
        $page-color;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

%responsive-max-width {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

@mixin d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

%d-flex_responsive {
    @include d-flex;
    flex-wrap: nowrap;

    @media (max-width: 576px) {
        flex-flow: column;
    }
}

%d-flex_center {
    @include d-flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

@mixin d-flex-col-responsive {
    @media (max-width: 576px) {
        align-self: stretch;
    }
}

%sm-screen-padding {
    @media (max-width: 576px) {
        padding: $padding-xs;
    }
}

.logo {
    width: 290px;
}

.header {
    @extend %responsive-max-width;
    @extend %sm-screen-padding;
    padding-top: $padding-md;
    margin: 0 auto;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    img {
        max-width: 50%;
    }


    i {
        color: $text-no-color;

    }
}

.topnav {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin-top: -35px;
    width: calc(100% - 10px);

    &__search {
        min-width: 300px;
        width: 99%;
        height: $search-height;
        display: none;
    }

    &.responsive {
        background-color: $page-color-darker_trans;
    }

    &.responsive .topnav__search {
        display: block;
        margin: 0 auto;
    }

    &__sign-in {
        width: $search-height;
        height: $search-height;
        border-radius: $search-height/2;
        background-color: $text-color;
        padding: 0;
        @extend %d-flex_center;
        border: none;
    }

    .a {
        padding: 0;
        padding-left: 16px;
    }

    @media (min-width: 576px) {
        margin-top: 0;
        position: relative;

        a {
            padding: 0
        }

        &__search {
            display: block;
            min-width: 0;
            width: $search-height;
            position: relative;
            background-color: transparent;

            &:hover {
                input {
                    width: 300px;
                    background-color: $text-color;
                    color: $text-no-color;
                }
            }
        }

        input {
            position: absolute;
            right: 0;
            width: 0;
            transition: 0.5s linear;
        }
    }
}

.search {
    position: relative;
    background-color: transparent;

    &__input-text {
        background-color: transparent;
        padding-left: $padding-xs;
        padding-right: $search-height;
        overflow: hidden;
    }

    &__button {
        position: absolute;
        right: 1px;
        top: 1px;
        height: $search-height - 2px;
        width: $search-height - 2px;
        background-color: transparent;
        border: none;

    }
}

i {
    color: $icon-color;
}

.img {
    &-responsive {
        width: 100%;
        max-width: 100%;
    }
}

.banner {
    width: 100%;
    position: relative;

    &__content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 70%;
        max-width: 70%;
        padding: $padding-xs;
        @include d-flex;
        flex-flow: column;
        -ms-align-items: center;
        justify-content: center;
    }

    h4 {
        display: none;
    }

    @media (min-width: 576px) {
        h4 {
            display: block;
        }
    }

    &__nav {
        @extend %responsive-max-width;
        position: absolute;
        bottom: $padding-xs;
        @include d-flex;
        justify-content: space-between;
        -ms-align-items: flex-end;
        align-items: flex-end;
        width: 100%;
    }

    &__item {
        display: block;
        text-align: center;
        /*min-width: 95px;*/
    }

    &__icon {
        max-width: $icon-size;
        max-height: $icon-size;
        filter: invert(67%) sepia(37%) saturate(6421%) hue-rotate(92deg) brightness(121%) contrast(122%);

        @media (min-width: 992px) {
            max-width: $icon-size * 1.5;
            max-height: $icon-size * 1.5;
        }
    }

    &__wrapper {
        @extend %responsive-max-width;
        position: static;
    }

}

.banner-content {
    @media (min-width: 576px) {
        &__contry {
            font-size: $text-size-banner-md/2;
        }

        &__header {
            font-size: $text-size-banner-lg/2;
        }

        &__duration {
            font-size: $text-size-banner-sm/2;
        }
    }

    @media (min-width: 768px) {
        &__contry {
            font-size: $text-size-banner-md;
        }

        &__header {
            font-size: $text-size-banner-lg;
        }

        &__duration {
            font-size: $text-size-banner-sm;
        }
    }

}

@mixin container {
    padding-top: $padding-lg;
    @extend %responsive-max-width;
    padding-bottom: $padding-lg;
    padding-left: $padding-xs;
    padding-right: $padding-xs;
}

.tour-list {
    @include container;
    border-bottom: 1px solid $page-color-darker;

}

h2 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.row {
    @extend %d-flex_responsive;
    @extend %d-flex_center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;

    &_justify_start {
        @extend .row;
        justify-content: flex-start;
    }
}

.col {
    @include d-flex-col-responsive;
    flex: 1 1 0%;

    &_fill {
        @extend .col;
        max-width: $padding-sm;
    }
}

.card {
    width: 260px;
    height: 350px;
    margin: $padding-md;
    margin-left: 0;
    position: relative;
    padding: $padding-sm;

    &__img {
        height: 170px;
        overflow: hidden;
        background-image: url("../img/india-1.jpg");
        background-position: center;
        position: relative;
    }



    &__sale {
        position: absolute;
        bottom: 0;
        background-color: red;
        padding: $padding-xs;
    }

    &__country {
        color: $text-color-darker;
        padding-top: $padding-xs;
    }

    &__header {
        color: $text-color;
        padding-top: $padding-xs;
        padding-bottom: $padding-xs;
    }

    &__price {
        padding-top: $padding-sm;

        &:after {
            content: ' vnd';
            color: $text-color-darker;
        }
    }

    &__duration,
    &__start-date {
        color: $text-color;
    }

}

.btn {

    margin: 0 auto;
    color: $text-no-color;
    text-align: center;
    background-color: $btn-bg-color;
    padding: $btn-padding;
    border: none;
    cursor: pointer;

    &_no-bg {
        @extend .btn;
        background-color: inherit;
    }

    &__wrapper {
        width: 100%;
        @extend %d-flex_center;
        padding: $padding-md;
    }

    &_icon {
        @extend .btn;
        width: $search-height;
        height: $search-height;
        font-size: $icon-size/1.2;
        background-color: transparent;
    }

    &_sm {
        @extend .btn;
        width: $btn-sm;
    }

    &_md {
        @extend .btn;
        width: $btn-md;

    }

}

.footer {
    padding-bottom: $padding-xs;
    padding-top: $padding-xs;
    background-color: $page-color-darker;

    &__inner-wrapper {
        @extend %responsive-max-width;
    }

    &__logo {
        text-align: center;
        padding: $padding-sm;
    }

    &__link {
        padding-left: 10%;

        @media (min-width: 576px) {
            padding-left: 0;
            padding: $padding-sm;
        }
    }

    &__fb {
        min-width: 300px;
        max-width: 300px;
        padding-top: $padding-sm;
        padding-bottom: $padding-sm;
        padding-left: $padding-md;

    }

    &__social-list {
        @include d-flex;
        justify-content: space-between;
        font-size: $icon-size;
    }

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-top: $padding-xs;
    }

}

.popover {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 0;

    &__background {
        background-color: $page-color-darker_trans;
        width: 100%;
        height: 200vh;
        @extend %d-flex_center;
    }

    @media (min-width: 576px) {
        position: sticky;

        &__background {
            height: 100vh;
        }
    }
}

.register {

    background-color: $page-color-darker;
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    position: relative;

    &__cancel-btn {
        position: absolute;
        left: calc(100% - 44px);
        top: -44px;
    }

    &__choose {
        padding: 0;
        flex-wrap: nowrap;
        flex-flow: row;
        background-color: $page-color;
    }

    &__form {
        position: relative;
        background-color: $page-color;
        padding: $padding-xs;
        height: $search-height * 12;

        @media (min-width: 576px) {
            /*height: $search-height * 10;*/
            height: auto;
        }
    }

    &__input {
        width: 100%;
    }

    &__note {
        font-size: $text-size-xs;
    }

    .deactive {
        opacity: 0.6;
        background-color: $page-color-darker;
    }

}



.title {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
}


.input {

    &__text {
        width: 100%;
        padding: $padding-xs;
        height: $search-height;
        display: block;
        border: none;
    }

    &__remark {
        width: 100%;
        height: $search-height/2;
        font-size: $text-size-xs;
        margin: 0;
        padding-top: $padding-md;
        padding-bottom: $padding-md;
    }
}