@import url("../../lib/top-nav.css");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  font-family: 'Nunito', sans-serif; }

a {
  text-decoration: none; }

/*place holder seclector*/
.social, .contact .social_contact, .about footer, .footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }

.contact h2, .footer .copyright {
  color: black; }
.text-blue, .link__display {
  color: #007FFF; }
h2, .link__year, .footer {
  color: #979797; }
.contact__row input {
  color: #CFCFCF; }
.work h5 a {
  color: white; }

.header, .main, .footer {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto; }

/*define variable*/
/*mixin class*/
/* Extend default to change lib setting */
.topnav {
  background-color: white; }

.topnav a.icon {
  color: blue;
  float: left;
  padding-left: 0; }

.topnav.responsive a.icon {
  position: absolute;
  left: 0; }

/*general class*/
.size-52x52 {
  width: 52px;
  height: 52px; }

.img-fuild {
  max-width: 100%; }

.item {
  position: relative;
  padding-top: 30px; }

/*specific section class*/
.header {
  position: relative;
  top: 60px;
  height: 52px;
  margin-bottom: 60px; }
  .header img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

h1 {
  text-align: center;
  padding-top: 60px;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: bold;
  font-style: normal; }

.social, .contact .social_contact {
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; }

.work {
  padding-top: 60px; }
  .work__content {
    position: absolute;
    bottom: 30px;
    left: 30px; }
  .work__tag {
    width: 80px;
    height: 23px;
    padding-top: 3px;
    background: yellow;
    border-radius: 40px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 800;
    font-style: normal;
    text-align: center; }
  .work h5 {
    max-width: 221px;
    margin: 0;
    padding-top: 10px; }
    .work h5 a {
      font-size: 1.125rem;
      line-height: 1.625rem;
      font-weight: bold;
      font-style: normal;
      text-decoration: none; }

h2 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase; }

.about {
  padding-top: 60px; }
  .about h4 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: bold;
    font-style: normal; }
  .about p {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 600;
    font-style: normal;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .about footer {
    flex-wrap: nowrap;
    justify-content: space-between; }
    .about footer img {
      height: 26px; }

.link {
  padding-top: 60px;
  padding-bottom: 60px; }
  .link__display {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 600;
    font-style: normal; }
  .link__year {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 600;
    font-style: normal; }

.contact h2 {
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: bold;
  font-style: normal;
  text-transform: none; }
.contact__quote {
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 600;
  font-style: normal; }
.contact .social_contact {
  margin-left: 0px;
  padding-top: 20px; }
.contact__form {
  padding-top: 60px;
  position: relative; }
.contact__row {
  padding-top: 20px; }
  .contact__row label {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block; }
  .contact__row input {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 600;
    font-style: normal;
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    width: 100%; }
.contact button {
  padding: 0;
  border: none;
  background-color: white;
  position: relative;
  margin-top: 30px;
  left: calc(100% - 52px); }

#message {
  height: 150px; }

.footer {
  padding-top: 60px;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  font-size: 0.75rem;
  line-height: 1.875rem;
  font-weight: 600;
  font-style: normal; }
  .footer div {
    padding-top: 10px;
    padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
